<nav class="menu">
    <a
      class="menu-item"
      name="Transportation"
      href="/transportation.html"
      >교통</a
    >
    <a class="menu-item active" name="Contact" href="/contact.html"
      >연락</a
    >
  </nav>